h1 {
text-align:center;
font:100pt Pacifico;
background:#232323;
color:#F1F1F1;
  
margin:0px 0px 10px 0px;
}
@font-face {
 font-family:pacifico;
 src:url(Pacifico-Regular.ttf);
}

img {
  display:block;
  max-width:100%;
  max-height:80vh;
  height:100%;
}

#flyerdiv {
 display:block; 
}

